@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.product-btn {
  border: 2px solid #D1D5DB; /* gray-300 */
  border-radius: 9999px;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #1F2937; /* text-gray-800 */
  background-color: transparent;
}

.product-btn:hover {
  background-color: #e5e7eb; /* gray-200 on hover */
  transform: scale(1.05);
}

/* CSS Modules or global.css */
.hideScrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
.hideScrollbar::-webkit-scrollbar {
  display: none; 
}